.App {
  border: 1px solid #5d4646;
  margin: 50px 30px;
  padding: 25px 15px;
  border-radius: 10px;
  background-color: #FFFAF1;
}

.todo-container {
  display: flex;
  flex-direction: column;
}

.item {
  background-color: #F4F0DB;
  border-radius: 5px;
  padding: 5px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-container ul {
  padding: 10px;
}

.todo-container li {
  overflow-wrap: break-word;
  padding: 10px;
  list-style-type: "👉";
  cursor: pointer;

}

.done {
  text-decoration: line-through;
  color: #A9A9A9;
}

.del {
  cursor: pointer;
}

.todo-container input {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #DEC19B;
}

.todo-container button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #DEC19B;
  color: white;
  cursor: pointer;
}